# Основные библиотеки
streamlit
pandas
numpy
scikit-learn
torch
# Для работы с эмбеддингами
sentence-transformers

# Быстрое текстовое сравнение
rapidfuzz

# Интеллектуальное распознавание единиц измерения
quantulum3
pint
transformers

# Для чтения Excel
openpyxl

# Для интеллектуального сопоставления и обработки текста
nltk
spacy
# Для загрузки моделей spaCy (например, en_core_web_sm)
# python -m spacy download en_core_web_sm
